#hero .background {
    position: absolute;
    display: grid;
    width: inherit;
    grid-template-columns: repeat(5, 1.7fr) 1fr;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #f4f4f4;
}

#hero .line {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#hero .introduction {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero p {
    margin-top: 20px;
    font-size: 25px;
    color: #262728;
}

#hero a {
    font-size: 16px;
    font-weight: 600;
}

#hero .button {
    display: flex;
    position: relative;
    align-items: center; 
    justify-content: center;
    margin-top: 60px;
    width: 230px; 
    height: 70px;
    background-color: #262728; 
    color: #f4f4f4;
    transition: 0.3s; 
}

#hero .button svg {
    margin-left: 10px;
    transform: rotate(90deg);
    fill: #f7f5ff;
    stroke: #f7f5ff; 
}

#hero .button::before {
    content: "";
    position: absolute;
    width: inherit; 
    height: inherit;
    top: 5px;
    left: 5px;
    border: 1px solid #262728;
    z-index: -1; 
}

#hero .button:link, #hero .button:visited {
    background-color: #262728;
    color: #f4f4f4;
    fill: #f4f4f4;
    stroke: #f4f4f4;
}

#hero .button:hover, #hero .button:focus {
    background-color: #3e4041;
    color: #f4f4f4;
    fill: #f4f4f4;
    stroke: #f4f4f4;
}

#hero .image-container {
    flex: 3;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    margin-right: 100px;
}

#hero img {
    height: 600px;
    width: 400px;
    border: 1px solid #262728;
}

#hero .socialmedia {
    flex: 1;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    writing-mode: vertical-lr;
}

#hero .socialmedia a {
    margin: 30px;
    margin-right: 0;
    font-weight: 700;
    color: #262728;
}